/* You can add global styles to this file, and also import other style files */

body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('https://images5.alphacoders.com/849/thumb-1920-849437.jpg');
}